.article__inner {
  max-width: 740px;
  margin: 0 auto;
  padding-top: 35px;
}

.article__meta { 
  display: flex;
}

.article__user-image { 
  width: 55px;
  height: 55px;
  border: 1px solid rgba(0,0,0,.08);
  border-radius: 50%;
  background: url(../img/defaultbg.png) repeat;
  margin-right: 15px;
}

.article__meta-info { 
  padding-top: 8px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.article__user-name {
  display: block;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.84);
  margin-bottom: 5px;
}

.article__title {
  font-size: 42px;
  margin-top: 27px;
  margin-bottom: 30px
}

.article__body {
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  color: rgba(0,0,0,.84);
  line-height: 34px;
}

.article__category {
  color: rgba(0,0,0,.68);
  background: rgba(0,0,0,.05);
  border-radius: 3px;
  margin: 10px 0 0 0;
  display: inline-block;
  padding: 8px 10px;
  font-size: 14px;
}

.claps {
  position: fixed;
  top: 150px;
  transform: translateX(-150px);
}

.comments {
  background: rgb(250, 250, 250);
  padding: 35px 0;
  margin-top: 50px;
  min-height: 400px;
}

.comments__inner {
  max-width: 740px;
  margin: 0 auto;
  padding-top: 35px;
}

.comments__heading {
  color: rgba(0,0,0,.68);
  font-size: 14px;
  margin: 0 0 10px 0;
}