.article__inner {
  max-width: 740px;
  margin: 0 auto;
  padding: 35px 10px 0 10px;
}

.article__meta { 
  display: flex;
}

.article__user-image { 
  width: 55px;
  height: 55px;
  border: 1px solid rgba(0,0,0,.08);
  border-radius: 50%;
  background: url(../img/defaultbg.png) repeat;
  margin-right: 15px;
}

.article__meta-info { 
  padding-top: 8px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.article__user-name {
  display: block;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.84);
  margin-bottom: 5px;
}

.article__title {
  font-size: 42px;
  line-height: 58px;
  margin-top: 27px;
  margin-bottom: 30px
}

.article__body {
  font-size: 21px;
  font-weight: 300;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  color: rgba(0,0,0,.84);
  line-height: 34px;
}

@media(max-width: 600px) {
  .article__title {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 20px;
  }

  .article__body {
    font-size: 18px;
    line-height: 30px;
  }
}


.article__body b {
  font-weight: bold;
}

.article__category {
  color: rgba(0,0,0,.68);
  background: rgba(0,0,0,.05);
  border-radius: 3px;
  margin: 20px 0 0 0;
  display: inline-block;
  padding: 8px 10px;
  font-size: 14px;
}

.article__category a {
  text-decoration: none;
  color: rgba(0,0,0,.68);
}

.article__controls {
  text-align: center
}

.article__controls button {
  border: none;
  background: transparent;
}

.article__control-button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  display: block;
  text-align: center;
  width: 160px;
  margin: 0 auto;
}

.article__edit {  
  padding-left: 4px;
  width: 60px;
  margin-bottom: 10px;
  font-size: 16px;
  color: rgba(0,0,0,.68);
}

.article__delete {
  width: 60px;
  font-size: 16px;
  cursor: pointer;
  color: rgba(0,0,0,.68);
}

@media(max-width: 1000px) {
  .article__controls {
    border-top: 1px solid rgba(0,0,0,.05)!important;
    padding-top: 30px;
    margin-top: 30px;
    text-align: left;
    position: relative;
  }

  .article__edit, .article__delete {
    font-size: 22px;
    position: absolute;    
  }

  .article__edit {
    top: 51px;
    right: 5px;
  }

  .article__delete {
    top: 48px;
    right: -20px;
  }
}

@media(min-width: 1000px) {
  .article__edit, .article__delete {
    display: block;
  }

  .article__controls {
    position: fixed;
    top: 150px;
    transform: translateX(-126px);
  }
}

.comments {
  background: rgb(250, 250, 250);
  padding: 35px 0;
  margin-top: 30px;
  min-height: 400px;
}

.comments__inner {
  max-width: 740px;
  margin: 0 auto;
  padding: 35px 10px 0 10px;
}

.comments__heading {
  color: rgba(0,0,0,.68);
  font-size: 14px;
  margin: 0 0 10px 0;
}

@media(min-width: 1000px) {
  .comments { margin-top: 50px; }
}