.claps__clap-button, .claps__boo-button  {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.claps__clap-button svg{
  color: rgb(52, 231, 154);
  fill: rgb(3, 168, 124);
  height: 18px;
}

.claps__boo-button span {
  color: #f44242;
  font-size: 16px;
}

.comments-list__vote-score {
  color: rgba(0, 0, 0, 0.54);
}

.claps--Article .claps__clap-button, .claps--Article .claps__boo-button {
  display: block;
  text-align: center;
}

.claps--Article .claps__boo-button span {
  color: rgba(0,0,0,.84);
}

.claps--CommentsList .claps__clap-button {
  margin-right: 2px;
}

.claps--CommentsList .comments-list__vote-score {
  display:  block;
  min-width: 25px;
  text-align: left;
  position: relative;
  padding-left: 16px;
}

.comments-list__vote-score {
  display: block;
  font-size: 11px;
  text-align: center;
  padding-bottom: 3px;
  opacity: 0;
  transition: all 0.7s;
}

.comments-list__vote-score--voting {
  opacity: 1 !important;
}
