.claps--Article {
  position: fixed;
  top: 150px;
  transform: translateX(-150px);
}

.claps--PostCard {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.claps__clap-button, .claps__boo-button  {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.claps__clap-button svg{
  color: rgb(52, 231, 154);
  fill: rgb(3, 168, 124);
  height: 18px;
}

.claps__boo-button span {
  color: #f44242;
  font-size: 16px;
}

.comments-list__vote-score {
  color: rgba(0, 0, 0, 0.54);
}

.claps--CommentsList .claps__clap-button {
  margin-right: 2px;
}

.claps--CommentsList .comments-list__vote-score {
  display: inline-block;
  min-width: 25px;
  position: relative;
  top: -2px;
}

.claps--PostCard .comments-list__vote-score {
  display: block;
  font-size: 11px;
  text-align: right;
  padding-right: 2px;
}
